@import "tailwindcss";
:root {
  --mainbgcolor: #fcfcfc;
  --authfontcolor: #11175d;
  --mainfontcolor: #000000;
  --nonitw: "Nunito", sans-serif;
  --opensence: "Open Sans", sans-serif;
  --popince: "Poppins", sans-serif;
}

@theme {
  --color-mainbgcolor: var(--mainbgcolor);
  --color-authfontcolor: var(--authfontcolor);
  --color-mainfontcolor: var(--mainfontcolor);
}

@theme {
  --font-nonitw: var(--nonitw);
  --font-opensence: var(--opensence);
  --font-popince: var(--popince);
}

.active {
  background-color: white;
  width: 80%;
  color: #5f35f5;
  display: flex;
  justify-content: center;
  padding: 7px 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.active::after {
  position: absolute;
  content: "";
  top: 0;
  right: -7px;
  background-color: #5f35f5;
  height: 100%;
  width: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dark {
  display: none;
}
.abc {
  position: relative;
  cursor: pointer;
}

.abc:before {
  width: 70px;
  height: 20px;
  background: black;
  position: absolute;
  top: 0;
  left: 50px;
  border-radius: 10px;
  content: "";
}

.abc:after {
  width: 15px;
  height: 15px;
  background: red;
  position: absolute;
  top: 2px;
  left: 54px;
  border-radius: 50%;
  content: "";
  transition: 0.4s;
}

.dark:checked + .abc:after {
  left: 103px;
}

.dark:checked + .abc:before {
  background: rgb(212, 212, 212);
}
